<div class="add-form">
    <div class="form-group">
        <input type="text" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" id="phoneNumber" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <input type="text" id="address" placeholder="Address">
    </div>
    <div class="form-group">
        <input type="text" id="state" placeholder="State">
    </div>
    <div class="form-group">
        <input type="text" id="zip" placeholder="Zip Code">
    </div>
    <div class="form-group">
        <input type="text" id="memberNumber" placeholder="Member Number">
    </div>
    <button onclick="add_member()">Clear Search</button>
</div>