{#modal background#}
<div class="modal-overlay closed ref" id="modal-overlay"></div>

<div class="modal closed ref" id="modal">
    {#close modal#}
    <button class="close-button ref" id="close-button">Close</button>

    <div class="inner-modal ref">
        <form class="add-form ref" method="post" action="{% url 'edit_member' %}">
            {% csrf_token %}
            {% for field in form %}
                <p class="form-group">{{ field.errors }}</p>
                <p class="form-group">{{ field }}</p>
            {% endfor %}
            <button onclick="edit_member()">Save Edits</button>
            <button onclick="delete_member()">Delete Member</button>
        </form>
    </div>
</div>

<script>
    let modal = document.querySelector("#modal");
    let modalOverlay = document.querySelector("#modal-overlay");
    let closeButton = document.querySelector("#close-button");

    closeButton.addEventListener("click", function () {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
    });

    function save_member() {
        console.log("asfasdf")
    }


    function edit_member(pk) {
        axios({
            method: 'post',
            url: "{% url 'edit_member' %}",
            data: {
                pk: pk,
            },
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
        })
            .then(function (content) {
                console.log('In the then return')
                console.log(content);
            });
    }
</script>