{% load static %}
<div class="result_block" id="result_block">
    <div id="result_group_template" style="display: none">
        <div class="result_group">
            <div class="member_data_left">
                <p>firstName lastName</p>
                <p>phoneNumber</p>
                <p>email</p>
                <p>memberNumber</p>
                <p>plateNumber</p>
                <p>active</p>
                <p>expirationDate</p>
            </div>
            <div class="edit_del_right ref">edit icon</div>
            <div class="edit_del_right ref">delete icon</div>
        </div>
    </div>
</div>