@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*Add this class to get a reference*/
.ref {
    outline: 2px solid red;
    outline-offset: 1px;
}

.tran_in {
    transition: all .75s;
    animation: fadein .6s;
}


body {
    background: #000;
    font-family: Montserrat, sans-serif;
    color: #FFF;
}

.page_title {
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    margin: auto;
    max-width: 500px;
    text-align: left;
}

button {
    display: inline-block;
    margin: auto;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: rgb(255, 50, 50);
    height: 42px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
    max-width: 500px;
    border: none;
}


button div {
    padding: 8px;
}


button:hover {
    color: #000;
    background-color: #FFF;
}

button:visited {
    color: #000000;
    background-color: #FFFFFF;
}


@media all and (max-width: 30em) {
     .button_def {
        display: block;
        margin: 0.4em auto;
    }
}

.container {
    /*padding: 10px;*/
    text-align: center;
}


.inputs_fields {
    width: 100%;
    text-align: left;
    height: 42px;
    margin-bottom: 3px;
    max-width: 500px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    padding-left: 15px;
    color: #000000;
    font-weight: 100;
}

.field_container {
    padding-top: 100px;
}

/* login button class*/
.button_def {
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: rgb(255, 50, 50);
    height: 42px;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

.link {
    display: inline-block;
    margin: 15px 25px 15px 0px;
    position: relative;
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
}

a {
    color: #FFF;
}

a:hover {
    color: rgb(255, 50, 50);
}
