{% extends 'base.html' %}
{% load static %}


<head>
    {% block head %}
        <title>OMRA Member Add</title>
    {% endblock %}
</head>

<body>
{% block body %}
    <h2 class="page_title">ADD</h2>
    <div class="container">

        {#posts to add in .views returns error or confirmation#}
        <form class="add-form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p class="form-group">{{ field.errors }}</p>
                <p class="form-group">{{ field }}</p>
            {% endfor %}
            <button type="submit">Add Member</button>
        </form>
    </div>
    <script>
        document.querySelector('#add_nav').style.color = "rgb(255, 50, 50)"
    </script>

{% endblock %}
</body>

