{% extends 'base.html' %}
{% load static %}


<head>
    {% block head %}
        <title>OMRA Member Add</title>
    {% endblock %}
</head>

<body>
{% block body %}
    <h2 class="page_title">ADD</h2>
    <div class="container">
        <div class="add-form">
            {#        {% include 'add_form.html' %}#}
            {% for field in form %}
                <p class="form-group">{{ field.label }}</p>
                <p class="form-group">{{ field }}</p>
            {% endfor %}
        </div>
    </div>
    <script>
        document.querySelector('#add_nav').style.color = "rgb(255, 50, 50)"
    </script>

{% endblock %}
</body>

