{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "memberomra/css/login.css" %}'>


<head>
        <title>OMRA Member Admin Login</title>
</head>

<body>   <div class="page_title">OMRA MEMBER SERVICE CENTER</div>
    <div class="login"></div>
    <div class="container" style="background-color: #ffe673; padding: 15px; border-radius: 5px">
        <h1>Password Reset</h1>
        <p>
            Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Reset</button>
        </form>
    </div>
    <br>

</body>