{% extends 'base.html' %}
{% load static %}

<head>
        <link rel="stylesheet" type="text/css" href='{% static "memberomra/css/login.css" %}'>

    {% block head %}
        <title>OMRA Member Admin Login</title>
    {% endblock %}

</head>

<body>

{% block body %}

    <div class="page_title tran_in">OMRA MEMBER SERVICE CENTER</div>
    <div class="container tran_in">
        <h2>Password Reset</h2>
        <p>
            Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one.
        </p>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Reset</button>
        </form>
        <br>
    </div>
{% endblock %}
</body>
