{% extends 'base.html' %}
{% load static %}


<head>

    {% block head %}
        <title>OMRA Member Search</title>
        {#        <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>#}
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="header_top_block"></div>
    <div id="main_container" class="tran_in">
        <div id="left_half_container" class="tran_in left_half_container container">
            <h2 class="page_title">SEARCH</h2>
            <div class="search-form">
                <div class="form-group">
                    <input type="text" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="text" id="memberNumber" placeholder="Member Number">
                </div>
                {#                <div class="form-group">#}
                {#                    <input type="text" id="email" placeholder="Email">#}
                {#                </div>#}
            </div>
            <div class="total_results_container">
                <div class="total_results" id="total_results_number"> 14</div>
                <div class="total_results">Results</div>
            </div>
            <button class="button_def" onclick="clear_search()">
                Clear Search
            </button>

        </div>
        <div id="right_half_container" class="tran_in right_half_container">
            <div class="page_title"></div>
            {# container for member in member search results #}
            {% include 'member_cards.html' %}
        </div>
    </div>
    <script>

        let result_block = {% include 'member_cards.html' %}
            console


        getData()

        function getData() {
            axios({
                method: 'post',
                url: "{% url 'member_search' %}",
                data: {
                    firstName: firstName.value,
                    lastName: lastName.value,
                    memberNumber: memberNumber.value,
                    {#email: email.value,#}
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'}
            })
                .then(function (content) {
                    let member_list = JSON.parse(content.data.search_results)
                    console.log(member_list)
                    {# clears the no matches comment if there is data returned #}
                    document.querySelector("#total_results_number").innerHTML = member_list.length

                    if (member_list.length > 0) {

                        {# start of search result list build #}
                        console.log(result_block)
                        let result_group_template = document.getElementById("result_group_template").innerHTML
                        let new_results = []

                        {# loop through each member set returned #}
                        for (let i in member_list) {
                            console.log(i)
                            let this_result = result_group_template

                            {# replace the field name ( matched with the key) with the value from the key of the member dataset #}
                            for (let field_name in member_list[i].fields) {
                                this_result = this_result.replace(field_name, member_list[i].fields[field_name])
                            }
                            new_results.push(this_result)
                        }
                        console.log(result_block.innerHTML)
                        console.log(new_results)
                        result_block.innerHTML = new_results.join("")


                    }
                });
        }

        firstName.addEventListener('input', getData)
        lastName.addEventListener('input', getData)
        memberNumber.addEventListener('input', getData)
        {#email.addEventListener('input', getData)#}


        {#clears the search table#}

        function clear_search() {
            for (let i in search_inputs) {
                search_inputs[i].value = ""
            }
            getData()
        }

    </script>

{% endblock %}
</body>

