{% extends 'base.html' %}
{% load static %}


<head>

    {% block head %}
        <title>OMRA Member Search</title>
        {#        <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>#}
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="header_top_block"></div>
    <div id="main_container" class="tran_in">
        <div id="left_half_container" class="tran_in left_half_container container">
            <h2 class="page_title">SEARCH</h2>
            <div class="search-form">
                <div class="form-group">
                    <input type="text" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="text" id="memberNumber" placeholder="Member Number">
                </div>
                {#                <div class="form-group">#}
                {#                    <input type="text" id="email" placeholder="Email">#}
                {#                </div>#}
            </div>
            <div class="total_results_container">
                <div class="total_results"> 14</div>
                <div class="total_results">Results</div>
            </div>
            <button class="button_def" onclick="clear_search()">Clear Search</button>

            {# this is the test div #}
            <br>
            <br>
            <br>
            <h2 id="result" style="color: white"></h2>

        </div>
        <div id="right_half_container" class="tran_in right_half_container">
            <div class="page_title"></div>
            {# container for member in member search results #}
            <div class="result_block" id="result_block">
                <div class="result_group" id="result_group" style="display: none">
                    {# these get cleared out currently #}
                    <div class="member_data_left" id="member_data_left">
                        <div class="edit_del_right ">edit</div>
                        <div class="edit_del_right ">edit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        let firstName = document.querySelector('#firstName')
        let lastName = document.querySelector('#lastName')
        let memberNumber = document.querySelector('#memberNumber')
        {#let email = document.querySelector('#email')#}
        let result = document.querySelector('#result')
        let search_inputs = [firstName, lastName, memberNumber]


        getData()

        function getData() {
            axios({
                method: 'post',
                url: "{% url 'member_search' %}",
                data: {
                    firstName: firstName.value,
                    lastName: lastName.value,
                    memberNumber: memberNumber.value,
                    {#email: email.value,#}
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'}
            })
                .then(function (content) {
                    let member_list = JSON.parse(content.data.search_results)
                    console.log(member_list)
                    if (member_list.length !== 0) {
                        for (let i in member_list) {
                            let name = member_list[i].fields.firstName + " " + member_list[i].fields.lastName;
                            console.log(name)
                            let memberNumber = member_list[i].fields.memberNumber;
                            console.log(memberNumber)

                            let plateNumber = member_list[i].fields.plateNumber;

                            let prop_list = [name, memberNumber, plateNumber]

                            let result_block = document.querySelector("#result_block");
                            let result_group = document.querySelector("#result_group");
                            let member_data = document.querySelector("#member_data_left");

                            let cloned_result_group = result_group.cloneNode(true);
                            result_block.appendChild(cloned_result_group);
                            cloned_result_group.style.display = ""

                            let cloned_member_data = cloned_result_group.querySelector("#member_data_left")
                            cloned_member_data.innerHTML = ""


                            for (let p in prop_list) {
                                let para = document.createElement("p")
                                let text = document.createTextNode(prop_list[p])
                                para.appendChild(text)
                                cloned_member_data.appendChild(para)
                            }
                        }


                    } else {
                        result.innerHTML = "There are no matches"
                    }
                });
        }

        firstName.addEventListener('input', getData)
        lastName.addEventListener('input', getData)
        memberNumber.addEventListener('input', getData)
        {#email.addEventListener('input', getData)#}


        {#clears the searc table#}

        function clear_search() {
            for (let i in search_inputs) {
                search_inputs[i].value = ""
            }
            getData()
        }

    </script>

{% endblock %}
</body>

